body {
    background-color: #740001;
}

#mazeBox {
    display: flex;
    width: 1302px;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}

.wall {
    background-color: black;
    width: 62px;
    height: 62px;
}

.way {
    background-color: #d3a625;
    width: 62px;
    height: 62px;
}

.start {
    background-color: #d3a625;
    width: 62px;
    height: 62px;
}

.end {
    background-color: #d3a625;
    width: 62px;
    height: 62px;
}

img {
    position: absolute;
    width: 62px;
    height: 62px;
    top: 566px;
    left: 278px;
}